<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.Eparking.dao.FirebaseTokenMapper">

    <insert id="addDeviceToken" parameterType="com.project.Eparking.domain.request.RequestFirebaseTokenMapper" >
        Insert into FirebaseToken (recipientType, recipientID,deviceToken)
        values (#{recipientType},#{recipientID},#{deviceToken})
    </insert>

    <select id="getFirebaseTokenByDeviceToken" resultType="com.project.Eparking.domain.FirebaseToken">
        SELECT
            token,
            recipientType,
            recipientID,
            deviceToken
        FROM FirebaseToken
        WHERE deviceToken = #{deviceToken}
    </select>

    <delete id="deleteTokenByTokenDevice" parameterType="com.project.Eparking.domain.FirebaseToken">
        DELETE FROM FirebaseToken
        WHERE deviceToken = #{deviceToken}
    </delete>
</mapper>