<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.Eparking.dao.FirebaseTokenMapper">

    <resultMap id = "listToken" type = "com.project.Eparking.domain.FirebaseToken">
        <result property = "token" column = "token"/>
        <result property = "recipientType" column = "recipientType"/>
        <result property = "recipientID" column = "recipientID"/>
        <result property = "deviceToken" column = "deviceToken"/>
    </resultMap>

    <insert id="addDeviceToken" parameterType="com.project.Eparking.domain.request.RequestFirebaseTokenMapper" >
        Insert into firebasetoken (recipientType, recipientID,deviceToken)
        values (#{recipientType},#{recipientID},#{deviceToken})
    </insert>

    <select id="getFirebaseTokenByDeviceToken" resultType="com.project.Eparking.domain.FirebaseToken">
        SELECT
            token,
            recipientType,
            recipientID,
            deviceToken
        FROM firebasetoken
        WHERE deviceToken = #{deviceToken}
    </select>

    <delete id="deleteTokenByTokenDevice" parameterType="com.project.Eparking.domain.FirebaseToken">
        DELETE FROM firebasetoken
        WHERE deviceToken = #{deviceToken}
    </delete>

    <select id="getFirebaseTokenByCustomerID" resultType="com.project.Eparking.domain.FirebaseToken">
        SELECT
            token,
            recipientType,
            recipientID,
            deviceToken
        FROM firebasetoken
        WHERE recipientID = #{customerID}
    </select>
    <select id="getTokenByID" resultMap="listToken">
        SELECT
            token,
            recipientType,
            recipientID,
            deviceToken
        FROM firebasetoken
        WHERE recipientID = #{userID}
    </select>
</mapper>