<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.Eparking.dao.ImageGuestMapper">

    <insert id="insertImageGuest" parameterType="com.project.Eparking.domain.ImageGuest">
        INSERT INTO imageguest(reservationID,imageLink)
        VALUES (#{reservationID}, #{imageLink})
    </insert>
    <select id="getImageGuestByReservationID" resultType="com.project.Eparking.domain.ImageGuest">
        SELECT
            imageguestID,
            reservationID,
            imageLink
        FROM imageguest
        where reservationID = #{reservationID}
    </select>
</mapper>

