<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.Eparking.dao.ImageMapper">
    <resultMap id = "listImage" type = "com.project.Eparking.domain.Image">
        <result property = "imageID" column = "imageID"/>
        <result property = "ploID" column = "ploID"/>
        <result property = "imageLink" column = "imageLink"/>
    </resultMap>

    <select id="getImageListByPLOID" resultMap="listImage">
        SELECT
            imageID,
            ploID,
            imageLink
        FROM image
        WHERE ploID = #{ploID}
    </select>

    <select id="getImageByPloId" resultType="com.project.Eparking.domain.Image">
        SELECT
            imageID,
            ploID,
            imageLink
        FROM
            image
        WHERE
            ploId = #{ploId};
    </select>
    <delete id="deleteImageByPLOID" parameterType="com.project.Eparking.domain.PLO">
        DELETE FROM image
        WHERE ploID = #{ploID};
    </delete>

    <insert id="batchInsertImages" parameterType="java.util.List">
        INSERT INTO image (ploID, imageLink)
        VALUES
        <foreach collection="list" item="image" separator=",">
            (#{image.ploID}, #{image.imageLink})
        </foreach>
    </insert>
</mapper>