<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.Eparking.dao.LicensePlateMapper">

    <resultMap id = "resultLicensePlate" type = "com.project.Eparking.domain.LicensePlate">
        <result property = "licensePlateID" column = "licensePlateID"/>
        <result property = "customerID" column = "customerID"/>
        <result property = "licensePlate" column = "licensePlate"/>
        <result property = "isDelete" column = "isDelete"/>
    </resultMap>

    <select id="getListLicensePlateByCustomerID" resultMap="resultLicensePlate">
        SELECT
            licensePlateID,
            customerID,
            licensePlate,
            isDelete
        FROM Licenseplate
        WHERE customerID = #{customerID}
        AND isDelete = 0;
    </select>


    <select id="getLicensePlateById" resultType="com.project.Eparking.domain.LicensePlate">
        SELECT
            licensePlateID,
            customerID,
            licensePlate
        FROM
            Licenseplate
        WHERE
            licensePlateID = #{licensePlateID};
    </select>

    <update id="deleteLicensePlate" parameterType="String">
        UPDATE Licenseplate
        SET isDelete = 1
        WHERE
            licensePlateID = #{licensePlateID}
        AND
            customerID = #{customerID}
    </update>

    <insert id="createLicensePlate" parameterType="String">
        INSERT INTO licenseplate (customerID,licensePlate, isDelete)
        VALUES (#{customerID}, #{licensePlate}, 0);
    </insert>

    <select id="getLicensePlateByLicensePlate" resultType="com.project.Eparking.domain.LicensePlate">
        SELECT
            licensePlateID,
            customerID,
            licensePlate
        FROM
            licenseplate
        WHERE
            licensePlate = #{licensePlate};
    </select>

    <select id="getListLicensePlate" resultType="com.project.Eparking.domain.LicensePlate">
        SELECT
            licensePlateID,
            customerID,
            licensePlate
        FROM
            licenseplate
    </select>

    <update id="updateLicensesPlateStatusById" parameterType="map">
        UPDATE Licenseplate
        SET isDelete = 0
        WHERE
            licensePlateID = #{licensePlateID}
        AND
            customerID = #{customerID}
    </update>

    <select id="getAllLicensePlateByCustomerId" resultType="com.project.Eparking.domain.LicensePlate">
        SELECT
            licensePlateID,
            customerID,
            licensePlate,
            isDelete
        FROM Licenseplate
        WHERE customerID = #{customerID}
    </select>

</mapper>