<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.Eparking.dao.ParkingLotOwnerMapper">


    <select id="getListPloByParkingStatusWithPagination" resultType="com.project.Eparking.domain.PLO">
        SELECT
            ploID,
            balance,
            phoneNumber,
            fullName,
            password,
            email,
            status,
            identify,
            parkingName,
            description,
            address,
            latitude,
            longtitude,
            parkingStatusID,
            slot,
            currentSlot,
            role,
            length,
            width,
            waitingTime,
            cancelBookingTime,
            contractLink,
            registerContract,
            browseContract,
            contractDuration,
            star
        FROM
            plo
        WHERE
            parkingStatusID
        IN
        <foreach collection="parkingStatus" item="status" open="(" separator="," close=")">
            #{status}
        </foreach>
        LIMIT
            #{pageSize}
        OFFSET
            #{pageNum};
    </select>

    <select id="getPloById" resultType="com.project.Eparking.domain.PLO">
        SELECT
            ploID,
            balance,
            phoneNumber,
            fullName,
            password,
            email,
            status,
            identify,
            parkingName,
            description,
            address,
            latitude,
            longtitude,
            parkingStatusID,
            slot,
            currentSlot,
            role,
            length,
            width,
            waitingTime,
            cancelBookingTime,
            contractLink,
            registerContract,
            browseContract,
            contractDuration,
            star
        FROM
            plo
        WHERE
            ploID = #{ploId};
    </select>

    <select id="getListPloByKeywordsWithPagination" resultType="com.project.Eparking.domain.PLO">
        SELECT
            ploID,
            balance,
            phoneNumber,
            fullName,
            password,
            email,
            status,
            identify,
            parkingName,
            description,
            address,
            latitude,
            longtitude,
            parkingStatusID,
            slot,
            currentSlot,
            role,
            length,
            width,
            waitingTime,
            cancelBookingTime,
            contractLink,
            registerContract,
            browseContract,
            contractDuration,
            star
        FROM
            plo
        WHERE
            parkingStatusID
        IN
        <foreach collection="parkingStatus" item="status" open="(" separator="," close=")">
            #{status}
        </foreach>
        AND (
            fullName like #{keyword} OR
            phoneNumber like #{keyword} OR
            parkingName like #{keyword} OR
            address like #{keyword} )
        LIMIT
            #{pageSize}
        OFFSET
            #{pageNum};
    </select>

    <update id="updateParkingStatusByPloId" parameterType="map">
        UPDATE plo
        SET parkingStatusID = #{parkingStatusID}
        WHERE ploID = #{ploID}
    </update>

    <select id="countRecords" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            plo
        WHERE
            parkingStatusID
        IN
            <foreach collection="parkingStatus" item="status" open="(" separator="," close=")">
                #{status}
            </foreach>
            <if test="keywords != null and keywords != ''">
                AND (
                fullName like #{keywords} OR
                phoneNumber like #{keywords} OR
                parkingName like #{keywords} OR
                address like #{keywords} )
            </if>
    </select>

</mapper>