<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.Eparking.dao.ParkingMapper">

    <resultMap id = "listSetting" type = "com.project.Eparking.domain.response.ResponseParkingSetting">
        <result property = "methodID" column = "methodID"/>
        <result property = "methodName" column = "methodName"/>
        <result property = "startTime" column = "startTime"/>
        <result property = "endTime" column = "endTime"/>
        <result property = "price" column = "price"/>
    </resultMap>

    <update id="registerParking" parameterType="com.project.Eparking.domain.request.RequestParking">
        UPDATE plo
        SET
            parkingName = #{parkingName},
            length = #{length},
            width = #{width},
            slot = #{slot},
            address = #{address},
            description = #{description},
            parkingStatusID = #{parkingStatusID},
            currentSlot = #{currentSlot},
            parkingStatusID = #{parkingStatusID},
            registerContract = #{registerContract},
            latitude = #{latitude},
            longtitude = #{longtitude},
            waitingTime = #{waitingTime},
            cancelBookingTime = #{cancelBookingTime}
        WHERE ploID = #{ploID}
    </update>

    <insert id="addImage" parameterType="com.project.Eparking.domain.request.RequestImage" >
        Insert into image (ploID, imageLink)
        values (#{ploID},#{imageLink})
    </insert>

    <select id="findParkingInformationByPLOID" resultType="java.util.Map">
        SELECT
        parkingName,
        imageLink,
        length,
        width,
        slot,
        address,
        description,
        imageLinkTransaction,
        ps.statusName
        FROM
        plo p,
        image i,
        parkingstatus ps
        Where
        i.ploID = p.ploID and
        ps.parkingStatusID = p.parkingStatusID and
        p.ploID = #{ploID}
    </select>

    <select id="getParkingStatus" resultType="com.project.Eparking.domain.response.ResponseParkingStatus">
        SELECT
        ploID,
        p.parkingStatusID,
        ps.statusName
        FROM
        plo p,
        parkingstatus ps
        Where
        ps.parkingStatusID = p.parkingStatusID and
        p.ploID = #{ploID}
    </select>

    <update id="updateParkingStatusID" parameterType="com.project.Eparking.domain.response.ResponseParkingStatus">
        UPDATE plo
        SET
        parkingStatusID = #{parkingStatusID}
        WHERE ploID = #{ploID}
    </update>

    <select id="getListParkingOngoing" resultType="com.project.Eparking.domain.response.ParkingComing">
        Select R.reservationID, L.licensePlate, C.fullName, RM.methodName
        FROM reservation R
        JOIN licenseplate L ON R.licensePlateID = L.licensePlateID
        JOIN customer C ON R.customerID = C.customerID
        JOIN reservationmethod RM ON R.methodID = RM.methodID
        WHERE R.statusID = 1 AND R.ploID = #{ploID}
        ORDER BY R.startTime DESC;
    </select>

    <select id="showListVehicleInParking" resultType="com.project.Eparking.domain.response.ResponseShowVehicleInParking">
        SELECT
        R.customerID, R.price, R.startTime, R.endTime,
        C.fullName, C.phoneNumber,R.reservationID,
        L.licensePlate, RM.methodName,RS.statusName
        FROM reservation R
        JOIN customer C ON R.customerID = C.customerID
        JOIN licenseplate L ON R.licensePlateID = L.licensePlateID
        JOIN reservationmethod RM ON R.methodID = RM.methodID
        JOIN reservationstatus RS ON R.statusID = RS.statusID
        WHERE R.ploID = #{ploID} AND R.statusID = #{statusID}
    </select>


    <update id="updateParkingProfile" parameterType="com.project.Eparking.domain.request.RequestUpdateProfilePLO">
        UPDATE plo
        SET
            parkingName = #{plo.parkingName},
            description = #{plo.description},
            slot = #{plo.slot},
            waitingTime = #{plo.waitingTime},
            cancelBookingTime = #{plo.cancelBookingTime}
        WHERE ploID = #{ploID}
    </update>

    <select id="getReservationDetailByReservationID" resultType="com.project.Eparking.domain.response.ResponseReservationDetail">
        SELECT
        L.licensePlate,
        R.price,
        RM.methodName,
        C.phoneNumber,
        C.fullName,
        RS.statusName,
        R.startTime,
        R.endTime,
        R.checkIn,
        R.checkOut
        FROM reservation R
        JOIN licenseplate L ON R.licensePlateID = L.licensePlateID
        JOIN customer C ON R.customerID = C.customerID
        JOIN reservationstatus RS ON R.statusID = RS.statusID
        JOIN reservationmethod RM ON R.methodID = RM.methodID
        WHERE R.reservationID = #{ID};
    </select>


    <update id="updateParkingOwner" parameterType="com.project.Eparking.domain.request.ParamTransferParking">
        UPDATE plo
        SET
            phoneNumber = #{phoneNumberTransfer}
        WHERE ploID = #{ploID}
    </update>



    <select id="getParkingSettingByPLOID" resultMap="listSetting">
        SELECT pm.methodID, rm.methodName, rm.startTime, rm.endTime, pm.price
        FROM parkingmethod pm
        JOIN reservationmethod rm ON pm.methodID = rm.methodID
        WHERE pm.ploID = #{ploID}
    </select>

    <delete id="deleteParkingSetting" parameterType="com.project.Eparking.domain.PLO">
        DELETE FROM parkingmethod
        WHERE ploID = #{ploID}
    </delete>

    <insert id="batchInsertSettingMethod" parameterType="java.util.List">
        INSERT INTO parkingmethod (ploID, methodID, price)
        VALUES
        <foreach collection="list" item="settings" separator=",">
            (#{settings.ploID}, #{settings.methodID},#{settings.price})
        </foreach>
    </insert>

    <update id="updateCurrentSlot" parameterType="com.project.Eparking.domain.PLO">
        UPDATE plo
        SET currentSlot = #{currentSlot}
        WHERE ploID = #{ploID}
    </update>
</mapper>