<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.Eparking.dao.ParkingMapper">

    <resultMap id = "listSetting" type = "com.project.Eparking.domain.response.ResponseParkingSetting">
        <result property = "methodID" column = "methodID"/>
        <result property = "methodName" column = "methodName"/>
        <result property = "startTime" column = "startTime"/>
        <result property = "endTime" column = "endTime"/>
        <result property = "price" column = "price"/>
    </resultMap>

    <update id="registerParking" parameterType="com.project.Eparking.domain.request.RequestParking">
        UPDATE PLO
        SET parkingName = #{parkingName},
        length = #{length},
        width = #{width},
        slot = #{slot},
        address = #{address},
        description = #{description},
        imageLinkTransaction = #{imageLinkTransaction},
        parkingStatusID = #{parkingStatusID}
        WHERE ploID = #{ploID}
    </update>

    <insert id="addImage" parameterType="com.project.Eparking.domain.request.RequestImage" >
        Insert into Image (ploID, imageLink)
        values (#{ploID},#{imageLink})
    </insert>

    <select id="findParkingInformationByPLOID" resultType="java.util.Map">
        SELECT
        parkingName,
        imageLink,
        length,
        width,
        slot,
        address,
        description,
        imageLinkTransaction,
        ps.statusName
        FROM
        PLO p,
        Image i,
        ParkingStatus ps
        Where
        i.ploID = p.ploID and
        ps.parkingStatusID = p.parkingStatusID and
        p.ploID = #{ploID}
    </select>

    <select id="getParkingStatus" resultType="com.project.Eparking.domain.response.ResponseParkingStatus">
        SELECT
        ploID,
        p.parkingStatusID,
        ps.statusName
        FROM
        PLO p,
        ParkingStatus ps
        Where
        ps.parkingStatusID = p.parkingStatusID and
        p.ploID = #{ploID}
    </select>

    <update id="updateParkingStatusID" parameterType="com.project.Eparking.domain.response.ResponseParkingStatus">
        UPDATE PLO
        SET
        parkingStatusID = #{parkingStatusID}
        WHERE ploID = #{ploID}
    </update>

    <select id="getListParkingOngoing" resultType="com.project.Eparking.domain.response.ParkingComing">
        Select reservationID, licensePlate, C.fullName, methodName from Reservation R, LicensePlate L, Customer C, ReservationMethod RM
        WHERE R.customerID = C.customerID and R.customerID = L.customerID and R.methodID = RM.methodID and R.statusID = 1
    </select>

    <select id="showListVehicleInParking" resultType="com.project.Eparking.domain.response.ResponseShowVehicleInParking">
        SELECT
        R.customerID, R.price, R.startTime, R.endTime,
        C.fullName, C.phoneNumber,R.reservationID,
        L.licensePlate
        FROM Reservation R
        JOIN Customer C ON R.customerID = C.customerID
        JOIN LicensePlate L ON R.licensePlateID = L.licensePlateID
        WHERE R.ploID = #{ploID} AND R.statusID = #{statusID}
    </select>


    <update id="updateParkingProfile" parameterType="com.project.Eparking.domain.request.RequestUpdateProfilePLO">
        UPDATE PLO
        SET
            parkingName = #{plo.parkingName},
            description = #{plo.description}
        WHERE ploID = #{ploID}
    </update>

    <select id="getReservationDetailByReservationID" resultType="com.project.Eparking.domain.response.ResponseReservationDetail">
        SELECT
        L.licensePlate,
        R.price,
        RM.methodName,
        C.fullName,
        RS.statusName,
        R.startTime,
        R.endTime,
        R.checkIn,
        R.checkOut
        FROM Reservation R
        JOIN LicensePlate L ON R.licensePlateID = L.licensePlateID
        JOIN Customer C ON R.customerID = C.customerID
        JOIN ReservationStatus RS ON R.statusID = RS.statusID
        JOIN ReservationMethod RM ON R.methodID = RM.methodID
        WHERE R.reservationID = #{ID};
    </select>

    <select id="getParkingSettingByPLOID" resultMap="listSetting">
        SELECT pm.methodID, rm.methodName, rm.startTime, rm.endTime, pm.price
        FROM ParkingMethod pm
        JOIN ReservationMethod rm ON pm.methodID = rm.methodID
        WHERE pm.ploID = #{ploID}
    </select>

    <delete id="deleteParkingSetting" parameterType="com.project.Eparking.domain.PLO">
        DELETE FROM ParkingMethod
        WHERE ploID = #{ploID}
    </delete>

    <insert id="batchInsertSettingMethod" parameterType="java.util.List">
        INSERT INTO ParkingMethod (ploID, methodID, price)
        VALUES
        <foreach collection="list" item="settings" separator=",">
            (#{settings.ploID}, #{settings.methodID},#{settings.price})
        </foreach>
    </insert>
</mapper>