<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.Eparking.dao.ParkingMethodMapper">

    <select id="getParkingMethodById" resultType="com.project.Eparking.domain.ParkingMethod">
        SELECT
            parkingMethodID,
            ploID,
            methodID,
            price
        FROM
            parkingmethod
        WHERE
            ploId = #{ploId};
    </select>

    <select id="getParkingMethodByID" resultType="Double">
        SELECT price
        FROM parkingmethod
        WHERE ploID = #{ploID} AND methodID = #{methodID}
    </select>

</mapper>