<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.Eparking.dao.ParkingStatusMapper">

    <select id="getByParkingStatusId" resultType="com.project.Eparking.domain.ParkingStatus">
        SELECT
            parkingStatusID,
            statusName
        FROM
            parkingstatus
        WHERE
            parkingStatusID = #{parkingStatusID};
    </select>
</mapper>