<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.Eparking.dao.TransactionMapper">


    <resultMap id = "historyResponse" type = "com.project.Eparking.domain.response.HistoryResponse">
        <result property = "historyID" column = "historyID"/>
        <result property = "depositAmount" column = "depositAmount"/>
        <result property = "transactionDate" column = "transactionDate"/>
        <result property = "transactionResultDate" column = "transactionResultDate"/>
    </resultMap>

    <insert id="insertTransactionPLO" parameterType="com.project.Eparking.domain.request.RequestPLOTransaction" >
        INSERT INTO PloTransaction (ploID, status, depositAmount, transactionDate, transactionResultDate, vnPay_ref, UUID)
        VALUES (#{ploID}, #{status}, #{depositAmount}, #{transactionDate}, #{transactionResultDate}, #{vnPay_ref}, #{UUID});
    </insert>

    <select id="getTransactionPLOByID" resultType="com.project.Eparking.domain.PLOTransaction">
        SELECT historyID,ploID,status,depositAmount,transactionDate,transactionResultDate,vnPay_ref, UUID
        FROM PloTransaction
        WHERE ploID = #{ploID} AND status = #{status}
    </select>

    <select id="getTransactionMethodByHistoryID" resultType="com.project.Eparking.domain.TransactionMethod">
        SELECT transactionMethodID,historyID,bankCode,bankName,bankNumber
        FROM TransactionMethod
        WHERE historyID = #{historyID}
    </select>

    <select id="getTransactionByUUID" resultType="com.project.Eparking.domain.PLOTransaction">
        SELECT historyID,ploID,status,depositAmount,transactionDate,transactionResultDate,vnPay_ref, UUID
        FROM PloTransaction
        WHERE UUID = #{UUID}
    </select>
    <insert id="insertTransactionMethod" parameterType="com.project.Eparking.domain.TransactionMethod">
        INSERT INTO TransactionMethod (historyID, bankCode, bankName, bankNumber)
        VALUES (#{historyID}, #{bankCode}, #{bankName}, #{bankNumber});
    </insert>
  
    <select id="historyTransactionByPLOandStatus" resultMap="historyResponse">
        SELECT historyID,depositAmount,transactionDate,transactionResultDate
        FROM PloTransaction
        WHERE ploID = #{ploID} AND status = #{status}
    </select>
    <insert id="insertTransactionPLOByPLOID" parameterType="com.project.Eparking.domain.request.RequestPLOTransactionWithdrawa" >
        INSERT INTO PloTransaction (ploID, status, depositAmount, transactionDate)
        VALUES (#{ploID}, #{status}, #{depositAmount}, #{transactionDate});
    </insert>

    <insert id="insertBatchTransactionMethod" parameterType="java.util.List">
        INSERT INTO TransactionMethod (historyID, bankCode, bankName, bankNumber)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.historyID}, #{item.bankCode}, #{item.bankName}, #{item.bankNumber})
        </foreach>
    </insert>


    <select id="countRecords" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            PloTransaction pts
        JOIN
            plo pl ON pts.ploID = pl.ploID
        WHERE
            pts.status
        IN
            <foreach collection="status" item="status" open="(" separator="," close=")">
                #{status}
            </foreach>
            <if test="keywords != null and !keywords.isEmpty()">
                AND (
                pl.fullName REGEXP #{keywords} OR
                pl.parkingName REGEXP #{keywords})
            </if>
    </select>

    <select id="getPloTransactionByHistoryId" resultType="com.project.Eparking.domain.PLOTransaction">
        SELECT
            historyID,
            ploID,
            status,
            depositAmount,
            transactionDate,
            transactionResultDate,
            vnPay_ref,
            UUID
        FROM
            PloTransaction
        WHERE
            historyID = #{transactionId}
    </select>

    <update id="updatePloTransactionStatusByHistoryId" parameterType="map">
        UPDATE
            PloTransaction
        SET
            status = #{status}
        WHERE
            historyID = #{transactionId}
    </update>

    <select id="searchPloTransactionByKeyword" resultType="com.project.Eparking.domain.PLOTransaction">
        SELECT
            pts.historyID,
            pts.ploID,
            pts.status,
            pts.depositAmount,
            pts.transactionDate,
            pts.transactionResultDate,
            pts.vnPay_ref,
            pts.UUID
        FROM
            PloTransaction pts
        JOIN
            plo pl ON pts.ploID = pl.ploID
        WHERE
            pts.status
        IN
            <foreach collection="status" item="status" open="(" separator="," close=")">
                #{status}
            </foreach>
            <if test="keyword != null and !keyword.isEmpty()">
                AND (
                pl.fullName REGEXP #{keyword} OR
                pl.parkingName REGEXP #{keyword})
            </if>
        LIMIT
            #{pageSize}
        OFFSET
            #{pageNum};
    </select>
</mapper>