<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.Eparking.dao.RatingMapper">

    <resultMap id = "listRating" type = "com.project.Eparking.domain.Rating">
        <result property = "ratingID" column = "ratingID"/>
        <result property = "star" column = "star"/>
        <result property = "content" column = "content"/>
        <result property = "customerID" column = "customerID"/>
        <result property = "ploID" column = "ploID"/>
        <result property = "reservationID" column = "reservationID"/>
        <result property = "feedbackDate" column = "feedbackDate"/>
    </resultMap>

    <select id="getRatingListByPLOID" resultMap="listRating">
        SELECT
        ratingID,
        star,
        content,
        Rating.customerID,
        fullName,
        ploID,
        reservationID,
        feedbackDate
        FROM Rating,Customer
        WHERE ploID = #{ploID} AND Rating.customerID = Customer.customerID
    </select>


    <select id="getWithPaginationByPloId" resultType="com.project.Eparking.domain.Rating">
        SELECT
            ratingID,
            star,
            content,
            customerID,
            ploID,
            reservationID,
            feedbackDate
        FROM
            rating
        WHERE
            ploID = #{ploId}
        LIMIT
            #{pageSize}
        OFFSET
            #{pageNum};
    </select>

    <select id="countRecords" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            rating
        WHERE
            <if test="ploId != null and ploId != ''">
                ploID = #{ploId}
            </if>
    </select>

</mapper>