<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.Eparking.dao.ReservationMapper">
    <resultMap id = "listTop5Customer" type = "com.project.Eparking.domain.dto.Top5CustomerDTO">
        <result property = "fullName" column = "fullName"/>
        <result property = "phoneNumber" column = "phoneNumber"/>
        <result property = "total" column = "total"/>
    </resultMap>

    <resultMap id = "listResponseTop5Parking" type = "com.project.Eparking.domain.response.ResponseTop5Parking">
        <result property = "ploID" column = "ploID"/>
        <result property = "parkingName" column = "parkingName"/>
        <result property = "fullName" column = "fullName"/>
        <result property = "total" column = "total"/>
    </resultMap>

    <resultMap id = "listResponseTop5ParkingRevenue" type = "com.project.Eparking.domain.response.ResponseTop5Revenue">
        <result property = "ploID" column = "ploID"/>
        <result property = "parkingName" column = "parkingName"/>
        <result property = "fullName" column = "fullName"/>
        <result property = "revenue" column = "revenue"/>
    </resultMap>

    <resultMap id = "ListCoordinates" type = "com.project.Eparking.domain.response.ResponseCoordinates">
        <result property = "ploID" column = "ploID"/>
        <result property = "latitude" column = "latitude"/>
        <result property = "longtitude" column = "longtitude"/>
    </resultMap>

    <select id="findReservationByLicensePlate" resultType="com.project.Eparking.domain.response.ResponseReservation">
        SELECT R.reservationID,R.customerID,R.ploID,R.statusID,LP.licensePlate,R.startTime,R.endTime,R.price,R.checkOut,RM.methodName,R.checkIn
        FROM Reservation AS R
        JOIN LicensePlate AS LP ON R.licensePlateID = LP.licensePlateID
        JOIN ReservationMethod RM ON R.methodID = RM.methodID
        WHERE R.ploID = #{ploID}
        AND R.statusID = #{status}
        AND LP.licensePlate = #{licensePlate};
    </select>

    <select id="sumPriceReservationCurrentDateByPLO" resultType="Double">
        SELECT SUM(price) AS total_price
        FROM Reservation
        WHERE DATE(startTime) = CURDATE() AND ploID = #{ploID};
    </select>
    <select id="getReservationMethodByMethodID" resultType="com.project.Eparking.domain.response.ResponseRevenuePLO">
        SELECT ploID,
        SUM(CASE WHEN methodID = 1 THEN 1 ELSE 0 END) AS TotalVehicleMethodDay,
        SUM(CASE WHEN methodID = 2 THEN 1 ELSE 0 END) AS TotalVehicleMethodNight,
        SUM(CASE WHEN methodID = 3 THEN 1 ELSE 0 END) AS TotalVehicleMethodOvernight,
        COUNT(*) AS TotalVehicle
        FROM Reservation
        WHERE ploID = #{ploID}
    </select>

    <select id="getSumByDateANDPLOID" resultType="Double">
        SELECT IFNULL(SUM(price), 0) AS totalPrice
        FROM Reservation
        WHERE startTime >= #{startTime} AND startTime <![CDATA[<= CONCAT(#{startTime2th}, ' 23:59:59') AND ploID = #{ploID}]]>
    </select>

    <select id="getTop5ParkingHaveMostReservation" resultMap="listResponseTop5Parking">
        SELECT
            plo.ploID as ploID,
            plo.fullName as fullName,
            plo.parkingName as parkingName,
            COUNT(reservation.ploID) AS total
        FROM
            reservation
        LEFT JOIN
            plo ON reservation.ploID = plo.ploID
        WHERE
        MONTH(reservation.startTime) = MONTH(#{inputDate})
        AND YEAR(reservation.startTime) = YEAR(#{inputDate})
        GROUP BY
            plo.ploID, plo.fullName, plo.parkingName
        ORDER BY
            total DESC
        LIMIT 5;
    </select>

    <select id="getTop5ParkingHaveHighestRevenue" resultMap="listResponseTop5ParkingRevenue">
        SELECT
            plo.ploID as ploID,
            plo.fullName as fullName,
            plo.parkingName as parkingName,
            SUM(reservation.price) AS revenue
        FROM
            reservation
        LEFT JOIN
            plo ON reservation.ploID = plo.ploID
        WHERE
            MONTH(reservation.startTime) = MONTH(#{inputDate})
            AND YEAR(reservation.startTime) = YEAR(#{inputDate})
        GROUP BY
            plo.ploID, plo.fullName, plo.parkingName
        ORDER BY
            revenue DESC
        LIMIT 5;
    </select>

    <select id="getTop5CustomerHaveMostReservation" resultMap="listTop5Customer">
        SELECT
            customer.fullName as fullName,
            customer.phoneNumber as phoneNumber,
            COUNT(reservation.customerID) AS total
        FROM
            reservation
        LEFT JOIN
            customer ON reservation.customerID = customer.customerID
        WHERE
            MONTH(reservation.startTime) = MONTH(#{inputDate})
            AND YEAR(reservation.startTime) = YEAR(#{inputDate})
        GROUP BY
            customer.fullName, customer.phoneNumber
        ORDER BY
            total DESC
        LIMIT 5;
    </select>

    <select id="getReservationByStatus" resultType="com.project.Eparking.domain.Reservation">
        SELECT
            reservationID,
            customerID,
            ploID,
            statusID,
            licensePlateID,
            startTime,
            endTime,
            price,
            checkOut,
            checkIn,
            methodID,
            isRating
        FROM
            reservation
        WHERE
            statusID
        IN
            <foreach collection="status" item="st" open="(" separator="," close=")">
               #{st}
            </foreach>
        AND
            customerID = #{customerID};
    </select>

    <select id="getReservationDetailById" resultType="com.project.Eparking.domain.Reservation">
        SELECT
            reservationID,
            customerID,
            ploID,
            statusID,
            licensePlateID,
            startTime,
            endTime,
            price,
            checkOut,
            checkIn,
            methodID,
            isRating
        FROM
            reservation
        WHERE
            reservationID = #{reservationID}
        AND
            customerID = #{customerID};
    </select>
    <select id="getReservationByReservationID" resultType="com.project.Eparking.domain.Reservation">
        SELECT
            reservationID,
            customerID,
            ploID,
            statusID,
            licensePlateID,
            startTime,
            endTime,
            price,
            checkOut,
            checkIn,
            methodID,
            isRating
        FROM Reservation
        WHERE reservationID = #{reservationID}
    </select>


    <select id="findReservationByLicensePlateAndPloId" resultType="com.project.Eparking.domain.Reservation">
        SELECT R.reservationID,R.customerID,R.ploID,R.statusID,R.licensePlateID,R.startTime,R.endTime,R.price,R.checkOut,R.checkIn, R.methodID, R.isRating
        FROM Reservation AS R
        JOIN LicensePlate AS LP ON R.licensePlateID = LP.licensePlateID
        JOIN ReservationMethod RM ON R.methodID = RM.methodID
        WHERE R.ploID = #{ploId}
        AND R.statusID
        NOT IN
            <foreach collection="status" item="st" open="(" separator="," close=")">
                #{st}
            </foreach>
        AND LP.licensePlate = #{licensePlate};
    </select>

    <select id="getAllCoordinatesPLO" resultMap="ListCoordinates">
        SELECT ploID, latitude, longtitude
        FROM PLO
        WHERE latitude IS NOT NULL AND longtitude IS NOT NULL
    </select>

    <select id="getReservationByLicensesPlateId" resultType="com.project.Eparking.domain.Reservation">
        SELECT
            reservationID,
            customerID,
            ploID,
            statusID,
            licensePlateID,
            startTime,
            endTime,
            price,
            checkOut,
            checkIn,
            methodID,
            isRating
        FROM
            Reservation
        WHERE
            licensePlateID = #{licensePlateID}
    </select>

    <insert id="createReservation" parameterType="com.project.Eparking.domain.Reservation">
        INSERT INTO reservation
        (   customerID,
            ploID,
            statusID,
            licensePlateID,
            startTime,
            endTime,
            price,
            methodID
        )
        VALUES
        (
            #{customerID},
            #{ploID},
            #{statusID},
            #{licensePlateID},
            #{startTime},
            #{endTime},
            #{price},
            #{methodID}
        );
    </insert>
    <select id="getReservationByIsRating" resultType="com.project.Eparking.domain.response.ResponseReservationSC">
        SELECT R.reservationID,R.price,RM.methodName,LP.licensePlate,R.statusID,R.ploID,RS.statusName,R.startTime,R.endTime,R.checkIn,R.checkOut
        FROM Reservation R
        JOIN ReservationMethod RM ON R.methodID = RM.methodID
        JOIN LicensePlate LP ON R.licensePlateID = LP.licensePlateID
        JOIN ReservationStatus RS ON R.statusID = RS.statusID
        WHERE R.customerID = #{customerID} AND isRating = #{rating}
    </select>

    <update id="updateReservationIsRatedById" parameterType="map">
        UPDATE reservation
        SET isRating = #{isRating}
        WHERE reservationID = #{reservationID}
    </update>


    <update id="updateCheckInCheckOutIsRatedAndStatusById" parameterType="map">
        UPDATE reservation
        SET
            checkIn = #{checkIn},
            checkOut = #{checkOut},
            statusID = #{status},
            isRating = #{isRating}
        WHERE reservationID = #{reservationID}
    </update>

    <update id="updateReservationStatus" parameterType="com.project.Eparking.domain.Reservation">
        UPDATE reservation
        SET statusID = #{statusID},
            isRating = #{isRating}
        WHERE reservationID = #{reservationID}
    </update>
</mapper>