<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.Eparking.dao.ReservationMethodMapper">

    <resultMap id="listMethodByTime" type="com.project.Eparking.domain.ReservationMethod">
        <result property = "methodID" column = "methodID"/>
        <result property = "methodName" column = "methodName"/>
        <result property = "startTime" column = "startTime"/>
        <result property = "endTime" column = "endTime"/>
    </resultMap>

    <resultMap id = "listMethod" type = "com.project.Eparking.domain.response.ResponseMethod">
        <result property = "methodID" column = "methodID"/>
        <result property = "methodName" column = "methodName"/>
        <result property = "price" column = "price"/>
    </resultMap>
    <select id="getAllReservationMethod" resultType="com.project.Eparking.domain.ReservationMethod">
        SELECT
            methodID,
            methodName,
            startTime,
            endTime
        FROM
            reservationmethod;
    </select>
    <update id="updateStatusReservation" parameterType="com.project.Eparking.domain.response.ResponseReservation">
        UPDATE reservation
        SET statusID = #{statusID}
        WHERE reservationID = #{reservationID};
    </update>
    <update id="updateCheckoutReservation" parameterType="com.project.Eparking.domain.request.RequestUpdateStatusReservation">
        UPDATE reservation
        SET checkOut = #{checkOut}
        WHERE reservationID = #{reservationID};
    </update>
    <update id="updateCheckinReservation" parameterType="com.project.Eparking.domain.request.RequestUpdateStatusReservation">
        UPDATE reservation
        SET checkIn = #{checkIn}
        WHERE reservationID = #{reservationID};
    </update>

    <select id="getReservationMethodById" resultType="com.project.Eparking.domain.ReservationMethod">
        SELECT
            methodID,
            methodName,
            startTime,
            endTime
        FROM
            reservationmethod
        WHERE
            methodID = #{methodID};
    </select>

    <select id="getMethodByTime" resultMap="listMethodByTime">
        SELECT methodID, methodName, startTime, endTime
        FROM reservationmethod
        WHERE TIME(#{currentTime}) BETWEEN startTime AND endTime;
    </select>

    <select id="getMethodByID" resultMap="listMethod">
        SELECT
            RM.methodID, RM.methodName,PM.price
        FROM parkingmethod PM
        JOIN reservationmethod RM ON PM.methodID = RM.methodID
        WHERE ploID = #{ploID}
    </select>

    <select id="getMethodByTimeReturn1" resultType="com.project.Eparking.domain.ReservationMethod">
        SELECT methodID, methodName, startTime, endTime
        FROM reservationmethod
        WHERE TIME(#{currentTime}) BETWEEN startTime AND endTime;
    </select>
</mapper>