<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.Eparking.dao.ReservationMethodMapper">

    <select id="getAllReservationMethod" resultType="com.project.Eparking.domain.ReservationMethod">
        SELECT
            methodID,
            methodName,
            startTime,
            endTime
        FROM
            reservationmethod;
    </select>
    <update id="updateStatusReservation" parameterType="com.project.Eparking.domain.request.RequestUpdateStatusReservation">
        UPDATE Reservation
        SET statusID = #{statusID}
        WHERE reservationID = #{reservation.reservationID};
    </update>
    <update id="updateCheckoutReservation" parameterType="com.project.Eparking.domain.request.RequestUpdateStatusReservation">
        UPDATE Reservation
        SET checkOut = #{checkOut}
        WHERE reservationID = #{reservation.reservationID};
    </update>
    <update id="updateCheckinReservation" parameterType="com.project.Eparking.domain.request.RequestUpdateStatusReservation">
        UPDATE Reservation
        SET checkIn = #{checkIn}
        WHERE reservationID = #{reservation.reservationID};
    </update>

</mapper>