<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.Eparking.dao.ReservationMapper">

    <resultMap id = "listResponseTop5Parking" type = "com.project.Eparking.domain.response.ResponseTop5Parking">
        <result property = "ploID" column = "ploID"/>
        <result property = "parkingName" column = "parkingName"/>
        <result property = "fullName" column = "fullName"/>
        <result property = "total" column = "total"/>
    </resultMap>

    <select id="findReservationByLicensePlate" resultType="com.project.Eparking.domain.response.ResponseReservation">
        SELECT R.reservationID,R.customerID,R.ploID,R.statusID,LP.licensePlate,R.startTime,R.endTime,R.price,R.checkOut,RM.methodName,R.checkIn
        FROM Reservation AS R
        JOIN LicensePlate AS LP ON R.licensePlateID = LP.licensePlateID
        JOIN ReservationMethod RM ON R.methodID = RM.methodID
        WHERE R.ploID = #{ploID}
        AND R.statusID = #{status}
        AND LP.licensePlate = #{licensePlate};
    </select>
    <select id="sumPriceReservationCurrentDateByPLO" resultType="Double">
        SELECT SUM(price) AS total_price
        FROM Reservation
        WHERE DATE(startTime) = CURDATE() AND ploID = #{ploID};
    </select>
    <select id="getReservationMethodByMethodID" resultType="com.project.Eparking.domain.response.ResponseRevenuePLO">
        SELECT ploID,
        SUM(CASE WHEN methodID = 1 THEN 1 ELSE 0 END) AS TotalVehicleMethodDay,
        SUM(CASE WHEN methodID = 2 THEN 1 ELSE 0 END) AS TotalVehicleMethodNight,
        SUM(CASE WHEN methodID = 3 THEN 1 ELSE 0 END) AS TotalVehicleMethodOvernight,
        COUNT(*) AS TotalVehicle
        FROM Reservation
        WHERE ploID = #{ploID}
    </select>

    <select id="getSumByDateANDPLOID" resultType="Double">
        SELECT SUM(price) AS totalPrice
        FROM Reservation
        WHERE startTime >= #{startTime} AND startTime <![CDATA[<= #{startTime2th} AND ploID = #{ploID}]]>
    </select>

    <select id="getTop5ParkingHaveMostReservation" resultMap="listResponseTop5Parking">
        SELECT
            plo.ploID as ploID,
            plo.fullName as fullName,
            plo.parkingName as parkingName,
            COUNT(reservation.ploID) AS total
        FROM
            reservation
        LEFT JOIN
            plo ON reservation.ploID = plo.ploID
        WHERE
        MONTH(reservation.startTime) = MONTH(#{inputDate})
        AND YEAR(reservation.startTime) = YEAR(#{inputDate})
        GROUP BY
            plo.ploID, plo.fullName, plo.parkingName
        ORDER BY
            total DESC
        LIMIT 5;
    </select>

</mapper>