<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.Eparking.dao.UserMapper">

    <select id="getAdminByAdminID" resultType="com.project.Eparking.domain.Admin">
        SELECT
            adminID,
            image,
            role,
            phoneNumber,
            fullName,
            password,
            email,
            status
        FROM Admin
        WHERE adminID = #{adminID};
    </select>

    <select id="getCustomerByCustomerID" resultType="com.project.Eparking.domain.Customer">
        SELECT
            customerID,
            wallet_balance,
            identify,
            role,
            phoneNumber,
            fullName,
            password,
            email,
            status,
            registrationDate
        FROM Customer
        WHERE customerID = #{customerID};
    </select>

    <select id="getPLOByPLOID" resultType="com.project.Eparking.domain.PLO">
        SELECT
            ploID,
            balance,
            phoneNumber,
            fullName,
            password,
            email,
            status,
            identify,
            parkingName,
            Description,
            address,
            latitude,
            longtitude,
            parkingStatusID,
            slot,
            currentSlot,
            role,
            length,
            width,
            waitingTime,
            cancelBookingTime,
            contractLink,
            registerContract,
            browseContract,
            contractDuration
        FROM PLO
        WHERE ploID = #{ploID};
    </select>

    <select id="getResponseCustomerByCustomerID" resultType="com.project.Eparking.domain.response.ResponseCustomer">
        SELECT
        customerID,
        role,
        phoneNumber,
        fullName,
        email
        FROM Customer
        WHERE customerID = #{customerID};
    </select>

    <select id="getPLOResponseByPLOID" resultType="com.project.Eparking.domain.response.ResponsePLO">
        SELECT
        ploID,
        phoneNumber,
        fullName,
        email,
        PLO.parkingStatusID,
        ParkingStatus.statusName,
        role
        FROM PLO,ParkingStatus
        WHERE ploID = #{ploID} AND PLO.parkingStatusID = ParkingStatus.parkingStatusID;
    </select>

    <select id="getAdminResponseByAdminID" resultType="com.project.Eparking.domain.response.ResponseAdmin">
        SELECT
        adminID,
        image,
        role,
        phoneNumber,
        fullName,
        email
        FROM Admin
        WHERE adminID = #{adminID};
    </select>

    <select id="getCustomerResponseByPhonenumber" resultType="com.project.Eparking.domain.response.ResponseCustomer">
        SELECT
        customerID,
        role,
        phoneNumber,
        fullName,
        email
        FROM Customer
        WHERE phoneNumber = #{phoneNumber};
    </select>
    <select id="getPLOResponseByPhonenumber" resultType="com.project.Eparking.domain.response.ResponsePLO">
        SELECT
        ploID,
        phoneNumber,
        fullName,
        email,
        PLO.parkingStatusID,
        ParkingStatus.statusName
        FROM PLO,ParkingStatus
        WHERE phoneNumber = #{phoneNumber} AND PLO.parkingStatusID = ParkingStatus.parkingStatusID;
    </select>

    <insert id="createPLO" parameterType="com.project.Eparking.domain.request.RequestRegisterUser" >
        INSERT INTO PLO (ploID, balance, phoneNumber, fullName, password, status, parkingStatusID,role)
        VALUES (#{ploID}, #{balance}, #{user.phoneNumber}, #{user.fullName}, #{user.password}, #{status}, #{parkingStatusID},#{user.role})
    </insert>
    <insert id="createCustomer" parameterType="com.project.Eparking.domain.request.RequestRegisterUser" >
        INSERT INTO Customer (customerID, wallet_balance, role, phoneNumber, fullName, password,status)
        VALUES (#{customerID}, #{wallet_balance}, #{user.role}, #{user.phoneNumber}, #{user.fullName}, #{user.password},#{status});
    </insert>
    <update id="updateStatusCustomerPhoneNumber" parameterType="com.project.Eparking.domain.Customer">
        UPDATE Customer
        SET status = #{status}
        WHERE customerID = #{customerID}
    </update>
    <update id="updateNewPasswordPLO" parameterType="com.project.Eparking.domain.request.RequestChangePassword">
        UPDATE PLO
        SET password = #{password.password}
        WHERE ploID = #{ID}
    </update>
    <update id="updateNewPasswordCustomer" parameterType="com.project.Eparking.domain.request.RequestChangePassword">
        UPDATE Customer
        SET password = #{password.password}
        WHERE customerID = #{ID}
    </update>
    <select id="getPLOProfileResponseByPLOID" resultType="com.project.Eparking.domain.response.ResponsePLOProfile">
        SELECT
            ploID,
            phoneNumber,
            fullName,
            email
        FROM PLO
        WHERE ploID = #{ploID}
    </select>
    <update id="updatePLOprofile" parameterType="com.project.Eparking.domain.response.ResponsePLOProfile">
        UPDATE PLO
        SET fullName = #{profile.fullName},
            email = #{profile.email}
        WHERE ploID = #{ID}
    </update>
    <select id="getParkingInformationByPLOID" resultType="com.project.Eparking.domain.ParkingInformation">
        SELECT
            ploID,
            parkingName,
            description,
            address,
            slot,
            length,
            width,
            waitingTime,
            cancelBookingTime
        FROM PLO
        WHERE ploID = #{ploID}
    </select>
    <select id="getBalancePlO" resultType="double">
        SELECT balance
        FROM PLO
        WHERE ploID = #{ploID}
    </select>
</mapper>